html
html
   head
      title Form Tester
   body
      form(action = "/api/create", method = "POST")
         div
            label(for = "say") Email:
            br
            input(email = "say" value = "jojoonyedi@gmail.com ")
         br
         div
            label(for = "to") Password:
            br
            input(password = "to" value = "Jonathan77")
         br
         button(type = "submit") Create User